# Project Submission

**Please use this notebook for your submission.**

Make sure to fill out all the required fields and to answer all the questions.

You will be working with a dataset that includes the results of international football matches from 1872 to 2024. The matches range from FIFA World Cups to regular friendly matches. 

At the end of this project, you will have answered the following questions:

1. What is the average number of goals for the home team? 
2. What is the average number of goals for the away team? 
3. What is the country with the highest overall home score?
4. What are the top 3 type of tournaments?
5. Which country has the highest overall FIFA World Cup goals?


**Submission Requirements:**

- Make sure that you run all cells with code in your notebook before submitting.
- You can add additional cells of code if you want, but make sure to clean up your notebook, and only leave the code required to answer the questions.


_Original Data Source: [Kaggle](https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017/data)_

## Step 1: Getting Started

You will mainly work with a Python library called Pandas. Pandas is a powerful library that allows us to manipulate data. In order to use Pandas, you first have to import it.

In [2]:
import pandas as pd

## Step 2: Loading and Exporing the Data

You can use Pandas to explore and manipulate the _results.csv_ file. 
You first have to load the csv file into a Pandas dataframe, so you can then analyize the data. 

When using `pd.read_csv()`, make sure you inlcude the correct path to the csv file, depending on where you saved it when you downloaded it.

In [3]:
# First: Load the csv file into a Pandas dataframe (df)

df = pd.read_csv('results.csv')

In [4]:
# Explore the df

df.info('results.csv')
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB
             date home_team    away_team  home_score  away_score  \
0      1872-11-30  Scotland      England           0           0
1      1873-03-08   England     Scotland           4           2
2      1874-03-07  Scotland      England           2           1
3      1875-03-06   England     Scotland           2           2
4      1876-03-04  Scotland      England           3           0
...           ...       ...          ...         ...         ...
45310  2023-11-21     Wales       Turkey           1           1
45311  2023-11-21   Croatia      Armenia           1           0
45312  2023-11-21   Andorra       Israel           0           2
45313  2023-11-21    Kosovo      Belarus           0           1
45314  2023-11-21   Romania  Switzerland           1           0

                    tournament              city   country  neutral
0                     Friendly           Glasgow  Scotland    False
1                     Friendly            London   England    False
2                     Friendly           Glasgow  Scotland    False
3                     Friendly            London   England    False
4                     Friendly           Glasgow  Scotland    False
...                        ...               ...       ...      ...
45310  UEFA Euro qualification           Cardiff     Wales    False
45311  UEFA Euro qualification            Zagreb   Croatia    False
45312  UEFA Euro qualification  Andorra la Vella   Andorra    False
45313  UEFA Euro qualification          Pristina    Kosovo    False
45314  UEFA Euro qualification         Bucharest   Romania    False

[45315 rows x 9 columns]

## Step 3: Data Analysis

### Q1: What is the average number of goals for the home team?

Hint: You can call the `mean()` method on the _'home_score'_ column.

In [5]:

df['home_score'].mean()

1.7393136930376256

### Q2: What is the average number of goals for the away team?

Hint: You can call the `mean()` method on the _'away_score'_ column.

In [6]:
df['away_score'].mean()

1.1782412004854905

### Q3: What is the country with the highest overall home score?

Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the `idxmax()` function to find the index(country) with the highest sum.

In [7]:
group=df.groupby(['country'])['home_score'].sum()
print(group.idxmax())

United States

### Q4: What are the top 3 type of tournaments?

Hint: You can use the `value_counts()` method to count the occurences of each unique value in the _'tournament'_ column.

In [8]:
# Code here
print(df['tournament'].value_counts().head(3))

tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

### Q5: Which country has the highest overall FIFA World Cup goals?

To answer this question, consider breaking down your solution into 3 steps.

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [9]:
fifa_df=df.loc[(df['tournament']=='FIFA World Cup qualification')]
print(fifa_df)

             date              home_team       away_team  home_score  \
1588   1933-06-11                 Sweden         Estonia           6
1593   1933-06-29              Lithuania          Sweden           0
1612   1933-09-24             Yugoslavia     Switzerland           2
1620   1933-10-15                 Poland  Czechoslovakia           1
1627   1933-10-29            Switzerland         Romania           2
...           ...                    ...             ...         ...
45300  2023-11-21                Somalia          Uganda           0
45301  2023-11-21               Botswana          Guinea           1
45302  2023-11-21                 Malawi         Tunisia           0
45303  2023-11-21  São Tomé and Príncipe         Namibia           0
45304  2023-11-21                Comoros           Ghana           1

       away_score                    tournament         city      country  \
1588            2  FIFA World Cup qualification    Stockholm       Sweden
1593            2  FIFA World Cup qualification       Kaunas    Lithuania
1612            2  FIFA World Cup qualification     Belgrade   Yugoslavia
1620            2  FIFA World Cup qualification       Warsaw       Poland
1627            2  FIFA World Cup qualification        Berne  Switzerland
...           ...                           ...          ...          ...
45300           1  FIFA World Cup qualification      Berkane      Morocco
45301           0  FIFA World Cup qualification  Francistown     Botswana
45302           1  FIFA World Cup qualification     Lilongwe       Malawi
45303           2  FIFA World Cup qualification       Agadir      Morocco
45304           0  FIFA World Cup qualification       Moroni      Comoros

       neutral
1588     False
1593     False
1612     False
1620     False
1627     False
...        ...
45300     True
45301    False
45302    False
45303     True
45304    False

[8016 rows x 9 columns]

**5.2 In your new fifa_df, create a new _'total_score'_ column that sums _'home_score'_ + _'away_score'_ for each row.**

PS. If you get a "SettingWithCopyWarning", please ignore it.

In [10]:
total_score=fifa_df['home_score']+fifa_df['away_score']
fifa_df.loc[:,'total_score']=total_score
print(fifa_df)

             date              home_team       away_team  home_score  \
1588   1933-06-11                 Sweden         Estonia           6
1593   1933-06-29              Lithuania          Sweden           0
1612   1933-09-24             Yugoslavia     Switzerland           2
1620   1933-10-15                 Poland  Czechoslovakia           1
1627   1933-10-29            Switzerland         Romania           2
...           ...                    ...             ...         ...
45300  2023-11-21                Somalia          Uganda           0
45301  2023-11-21               Botswana          Guinea           1
45302  2023-11-21                 Malawi         Tunisia           0
45303  2023-11-21  São Tomé and Príncipe         Namibia           0
45304  2023-11-21                Comoros           Ghana           1

       away_score                    tournament         city      country  \
1588            2  FIFA World Cup qualification    Stockholm       Sweden
1593            2  FIFA World Cup qualification       Kaunas    Lithuania
1612            2  FIFA World Cup qualification     Belgrade   Yugoslavia
1620            2  FIFA World Cup qualification       Warsaw       Poland
1627            2  FIFA World Cup qualification        Berne  Switzerland
...           ...                           ...          ...          ...
45300           1  FIFA World Cup qualification      Berkane      Morocco
45301           0  FIFA World Cup qualification  Francistown     Botswana
45302           1  FIFA World Cup qualification     Lilongwe       Malawi
45303           2  FIFA World Cup qualification       Agadir      Morocco
45304           0  FIFA World Cup qualification       Moroni      Comoros

       neutral  total_score
1588     False            8
1593     False            2
1612     False            4
1620     False            3
1627     False            4
...        ...          ...
45300     True            1
45301    False            1
45302    False            1
45303     True            2
45304    False            1

[8016 rows x 10 columns]

C:\Users\Angelie\AppData\Local\Temp\ipykernel_5292\3033552042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df.loc[:,'total_score']=total_score

**5.3 Group your data by country, then get the sum of the _'total_score'_ column. From there, you can use `idxmax()` to find the country with the highest _'total_score'_.**

In [11]:
highest_total_score=fifa_df.groupby(['country'])['total_score'].sum()
print(highest_total_score.idxmax())

Qatar